.App {
  text-align: center;
  font-family: "Poppins";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.black-background {
  background-color: black;
  padding: 50px;
  margin-top: 30px;
}

/* TILE STYLING */
.tile {
  padding: 20px;
  height: 400px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  margin-bottom: 20px;
}

.tile-emoji {
  font-size: 80px;
  margin-top: 20px;
}

.tile-title {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.tile-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;

  width: 60px;

  background: #7198ff;
  border-radius: 4px;

  text-transform: uppercase;

  color: #ffffff;

  font-size: 9px;
}

/* BLOCK STYLING */

.block {
  background-color: #efefef;
  border-radius: 17px;
  box-shadow: 0px, 0px 20px 20px #efefef;
  padding: 20px;
}

.block-text {
  margin-bottom: 25px;
}

.block-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.block-link {
  text-decoration: underline;
}

/* NAVIGATION SEARCH BAR STYLING */
.search-bar {
  position: relative;
  margin-bottom: 20px;
}

.search-bar .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.search-bar input {
  padding-left: 40px; /* adjust as needed to make space for the icon */
}
.search-input {
  height: 40px;
  border-radius: 60px;
  border: solid;
  border-color: rgb(189, 189, 189);
  border-width: 0.5px;
  width: 100%;
}

/* LINK CARD STYLING */
.link-card {
  height: inherit;
  border: solid;
  border-color: black;
  box-shadow: #7198ff;
  height: 80px;
}

/* SIDE NAVIGATION BAR */
.side-bar {
  padding-top: 5rem;
}
