.App {
  text-align: center;
  font-family: "Poppins";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.black-background {
  background-color: black;
  padding: 50px;
  margin-top: 30px;
}

/* TILE STYLING */
.tile {
  padding: 20px;
  width: 300px;
  height: 400px;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  margin-bottom: 20px;
}

.tile-emoji {
  font-size: 80px;
  margin-top: 20px;
}

.tile-title {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.tile-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;

  width: 60px;

  background: #7198ff;
  border-radius: 4px;

  text-transform: uppercase;

  color: #ffffff;

  font-size: 9px;
}

/* BLOCK STYLING */

.block {
  background-color: #efefef;
  border-radius: 17px;
  box-shadow: 0px, 0px 20px 20px #efefef;
  padding: 20px;
  height: 200px;
  width: 350px;
}

.block-text {
  margin-bottom: 25px;
}

.block-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.block-link {
  text-decoration: underline;
}
